:root {
  --white: #FFF;
  --white-50: #D7CCC0;
  --light: #F5F4F0;
  --primary: #FE8A02;
  --primary-dark: #42413C;
  --dark: #2A2626;
  --dark-50: #908D8B;
  --brown: #B09A81;
}

@font-face {
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("/src/assets/fonts/Neucha-Regular.ttf");
}

html {
  font: 16px/1.6em "Open Sans", sans-serif;
  color: #2A2626;
}

h1, h2, h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  padding: 100px 0;
}
