:root {
  --white: #FFF;
  --white-50: #D7CCC0;
  --light: #F5F4F0;
  --primary: #FE8A02;
  --primary-dark: #42413C;
  --dark: #2A2626;
  --dark-50: #908D8B;
  --brown: #B09A81;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("/src/assets/fonts/Neucha-Regular.ttf");
}

html {
  font: 16px/1.6em "Open Sans", sans-serif;
  color: #2A2626;
}

body {
  width: 1440px;
  background: var(--white);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-img::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.content {
  width: 1110px;
  padding: 100px 0;

  border: 1px solid green;
}

.text-block {
  gap: 30px;
}

.btn {
  padding: 12px 24px;

  border: 0;
  background-color: var(--primary);
}

.btn-text {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}

[class*="section"] {
  position: relative;
  z-index: -1;

  border: 1px solid red;
}

div[class*="-side"] {
  max-width: 540px;
}

.section-header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.section-header .text-block {
  margin-top: 185px;
}

.section-header .btn {
  width: 150px;
  height: 50px;
}

.video {
  position: relative;
  top: 200px;
  
  display: block;
  margin: -200px auto 0;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.p-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.ta-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.c-primary {
  color: var(--primary);
}

.zi-b {
  z-index: -10;
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.h-900 {
  height: 900px;
}