:root {
  --white: #FFF;
  --white-50: #D7CCC0;
  --light: #F5F4F0;
  --primary: #FE8A02;
  --primary-dark: #42413C;
  --dark: #2A2626;
  --dark-50: #908D8B;
  --brown: #B09A81;
  --text: #2A2626;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

html {
  font: 16px/1.6em "Open Sans", sans-serif;
  color: var(--text);
}

body {
  width: 1440px;
  margin: 0;

  background: var(--white);
}

h1,
h2,
h3,
.title-3 {
  margin: 0;
  padding: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--primary);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3,
.title-3 {
  font-size: 34px;
}

.title-4 {
  margin: 0;
  padding: 5px 10px;

  font: 14px/1.2em "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.suptitle {
  margin: 0;

  font: 24px/1.2em Neucha, sans-serif;
}

.bg-img::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.content {
  position: relative;
  z-index: 10;

  width: 1110px;
  padding: 100px 0;
}

.btn {
  box-sizing: border-box;
  display: block;
  padding: 12px 24px;

  border: 0;
  background-color: var(--primary);
}

.btn:hover {
  background-color: #EA7600;
}

.btn-text {
  font-weight: 700;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

[class*="section"] {
  position: relative;

  display: flex;
  justify-content: center;
  
}

.left-side,
.right-side {
  max-width: 540px;
}

.fb-block-form > p {
  margin: 0;
}

.left-side p:last-of-type,
.right-side p:last-of-type,
.nav-item > a > p:last-of-type {
  margin-bottom: 0;
}

.section-header {
  overflow: hidden;
}

.section-header img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.text-block,
.part-top {
  gap: 30px;
}

.section-header .text-block {
  margin-top: 185px;
}

.section-header .btn-more {
  width: 148px;
  margin-top: 40px;
}

.video {
  position: relative;
  top: 200px;
  
  display: block;
  margin: -200px auto 8px;

  border: 0;
}

.section-navigation > .content {
  gap: 20px 30px;

  margin-top: 100px;
}

.nav-header,
.nav-item {
  flex-basis: 350px;

  box-sizing: border-box;
}

.nav-header {
  font-size: 52px;
}

.nav-item {
  padding: 24px;
}

.nav-item > a {
  display: block;

  text-decoration: none;
  color: inherit;
}

.nav-item .number {
  margin: 0 0 40px;

  font: 64px/1em Neucha, sans-serif;
  color: var(--primary-dark);
}

.nav-item:hover {
  background-color: var(--primary);
}

.nav-item:hover *,
.nav-item:hover .number {
  color: var(--white);
}

.part-top {
  margin-bottom: 100px;
}

/* .part-top,
.part-bot {
  border: 1px solid red;
} */

.fb-block {
  gap: 122px;
  padding: 40px 55px;
}

.fb-block-form {
  flex: 1 0 0;
}

.fb-block-form .form-title {
  font-size: 18px;
}

.fb-form {
  margin-top: 9px;
}

.fb-form label {
  display: none;
}

.fb-form input {
  flex: 1 0 0;

  box-sizing: border-box;
  height: 50px;
  padding: 15px;

  border: 0;
}

.btn-submit-email {
  position: relative;

  width: 70px;
  height: 50px;
}

.btn-submit-email::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: url("../assets/img/send.svg");
}

.fb-agreement {
  font-size: 12px;
}

.fb-agreement > a {
  color: inherit;
}

.footer-contacts {
  margin-top: 60px;

  font-size: 14px;
}

.img-shadow {
  box-sizing: border-box;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.d-flex {
  display: flex;
}

.f-rowr {
  flex-direction: row-reverse;
}

.j-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.ta-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.c-text {
  color: var(--text);
}

.c-white {
  color: var(--white);
}

.c-white-50 {

  color: var(--white-50);
}

.c-brown {
  color: var(--brown);
}

.c-dark-50 {
  color: var(--dark-50);
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-brown {
  background-color: var(--brown);
}
